[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/sqlite"]
	path = cookbooks/sqlite
	url = git://github.com/opscode-cookbooks/sqlite.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/ag"]
	path = cookbooks/ag
	url = git@github.com:teamsnap/the_silver_searcher-cookbook.git
[submodule "cookbooks/gae-cookbook"]
	path = cookbooks/gae-cookbook
	url = https://github.com/Floqq/gae-cookbook
[submodule "cookbooks/curl"]
	path = cookbooks/curl
	url = git@github.com:retr0h/cookbook-curl.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = git@github.com:opscode-cookbooks/memcached.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git@github.com:mdxp/nodejs-cookbook.git
